<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Jeux Concours</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="sidenav">
    <div class="profile-card">
        <div class="header">
        <h2>Yassine Amirouch</h2>
        <h4>Amirouchyassine@gmail.com</h4>
        </div>

        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Yassine Amirouch">
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Historique de gains</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Participation</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Contact</a>

  </div>
  





